.wp-block-lucency-grid-row {
	.lucency-admin-row-column-appender {
		$bg: #fff;

		top: 0;
		gap: 1em;
		right: 0;
		display: flex;
		margin-top: 5px;
		cursor: pointer;
		font-size: 12px;
		line-height: 1em;
		padding: 0.5em 1em;
		padding-right: 0;
		position: absolute;
		align-items: center;
		white-space: nowrap;
		border-radius: 100rem;
		background-color: $bg;
		border: 0.2em solid $bg;
		box-shadow: 0.05em 0.05em 0.5em rgba(darken($bg, 100%), 0.3);

		&:hover,
		&:active {
			filter: invert(100%);
			box-shadow: 0.05em 0.05em 0.5em rgba($bg, 0.3);
		}

		span {
			&:last-child {
				width: 1em;
				height: 1em;
				font-size: 1.3em;
				position: relative;
				&:before,
				&:after {
					position: absolute;
					filter: invert(100%);
				}
				&:before {
					inset: 0;
					z-index: 1;
					content: "+";
					line-height: 1em;
					text-align: center;
				}
				&:after {
					content: "";
					inset: -0.25em;
					border-radius: 100rem;
					background-color: $bg;
				}
			}
		}
	}

	&.is-selected,
	&.has-child-selected {
		.wp-block-lucency-grid-column {
			&:after {
				inset: 0;
				content: "";
				position: absolute;
				pointer-events: none;
				border: 1px dashed #999;
			}
		}
	}
}

.wp-block-lucency-grid-row {
	.block-list-appender {
		width: auto !important;
	}
}

.wp-block-lucency-grid-column {
	.block-list-appender:has(.block-editor-button-block-appender) {
		height: 100%;
		.block-editor-inserter,
		.block-editor-button-block-appender {
			height: 100%;
		}
	}
}
