.lucency-flex,
.lucency-inline-flex {
	> .block-list-appender {
		flex: 1;
		width: 100%;
	}
	> .lucency-col {
		> .block-list-appender {
			flex: 1;
			width: 100%;
		}
	}
}

.wp-block-lucency-grid-row {
	.lucency-admin-row-add-column {
		$bg: #fff;

		gap: 1em;
		cursor: pointer;
		font-size: 12px;
		line-height: 1em;
		padding: 0.5em 1em;
		padding-right: 0;
		position: absolute;
		align-items: center;
		border-radius: 100rem;
		background-color: $bg;
		border: 0.2em solid $bg;
		right: calc(var(--get-padding-right));
		top: calc(100% - var(--get-padding-bottom) + 1em);
		box-shadow: 0.05em 0.05em 0.5em rgba(#000, 0.3);

		display: none;
		span {
			&:last-child {
				width: 1em;
				height: 1em;
				font-size: 1.3em;
				position: relative;
				&:before,
				&:after {
					position: absolute;
					filter: invert(100%);
				}
				&:before {
					inset: 0;
					z-index: 1;
					content: "+";
					line-height: 1em;
					text-align: center;
				}
				&:after {
					content: "";
					inset: -0.25em;
					border-radius: 100rem;
					background-color: $bg;
				}
			}
		}
	}

	&.is-selected,
	&.has-child-selected {
		.lucency-admin-row-add-column {
			display: flex;
		}

		.wp-block-lucency-grid-column {
			&:after {
				inset: 0;
				content: "";
				position: absolute;
				pointer-events: none;
				border: 1px dashed #999;
			}
		}
	}
}

.wp-block-lucency-grid-column {
	.block-list-appender,
	.block-editor-inserter,
	.block-editor-button-block-appender {
		height: 100%;
	}
}

.lucency-admin-row-appender {
	border: 1px solid #999;
	background-color: #fff;
	border-radius: 0.5em;
	padding: 1em;
	box-sizing: border-box;
	header {
		margin-bottom: 0.5em;
		h3,
		p {
			margin: 0;
			padding: 0;
		}
		h3 {
			display: flex;
			font-weight: normal;
		}
		p {
			font-size: 0.8em;
		}
		svg {
			width: 1.5em;
			height: auto;
			margin-right: 0.25em;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.components-button {
		height: 32px;
	}
}
