@import "lucency-flex-grid/src/main";

.testView,
.is-root-container {
	.lucency-grid,
	.lucency-flex {
		border-radius: 10px;
		background-color: #ebebeb;
		.lucency-col {
			color: #fff;
			border-radius: 10px;
			background-color: #454c73;
		}
	}
}
