@function findPreviousBreakepoint($prefix, $return: 'prefix') {
  $previousPrefix: null;
  $previousBreakpoint: null;

  @each $currentPrefix, $currentBreakpoint in $breakpoints {
    @if $currentPrefix == $prefix and $previousPrefix != null {
      @if $return == 'prefix' {
        @return $previousPrefix;
      } @else {
        @return $previousBreakpoint;
      }
    }

    $previousPrefix: $currentPrefix;
    $previousBreakpoint: $currentBreakpoint;
  }

  @return null;
}

@function getPrefix($prefix) {
  @if $prefix == 'full' or $prefix == null {
    @return '';
  } @else {
    @return #{$prefix}-;
  }
}
