@import "lucency-flexbox-grid-system/src/lucency-flexbox-grid-system.scss";

@include lucencyFlexboxGridSystem(
	$breakpoints: (
		xxl: $xxl,
		xl: $xl,
		lg: $lg,
		md: $md,
		sm: $sm,
		xs: $xs,
	)
);
